body {
  background-color: #fefaf6;
  font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
hr {
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
}

h1 {
  font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: #232320;
  line-height: 150%;
}
h3 {
  color: #232320;
}
strong{
  color: #232320;
}
th{
  color: #232320;
}
p{
margin: 1em 0 0;
transition: all .2s ease-in-out;
position: relative;
z-index: 100;
font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
color: #656270;
font-size: 18px;
line-height: 32px;
}

div{
  margin: 1em 0 0;
  transition: all .2s ease-in-out;
  position: relative;
  z-index: 100;
  font-family: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #656270;
  font-size: 18px;
  line-height: 32px;
}
